.cover{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1184px;
    min-height: 740px;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.cover:hover .cover__image{
    opacity: 0.3;
}