.cover__image {
    top: 0;
    left: 0;
    position: absolute;
    max-width: 1184px;
    min-height: 720px;
    background: #2A2C2F;
    opacity: 0.8;
    display: block;
    transition: opacity 1s;
}